:root{
    --bg-color: #121212;
    --txt-color: #E0E0E0;
    --pormenor-color: #D4AF37;
    --hover-pormenor-color: #d4af3754;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}

body{
    max-width: 100vw;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

h1, h2, h3, .nav-link{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.7rem;
}

p{
    font-size: 1.3rem;
}

/* --------------------- HEADER---------------------- */

#header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(to bottom, #646161, var(--bg-color));
    padding: 2rem;
    min-height: 15vh;
    box-sizing: border-box;
}

#header-img{
    max-width: 3rem;
}

#nav-img{
    max-width: 2.3rem;
}

h1{
    display: inline;
    font-size: 2.7rem;
}

#nav-bar{
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 6vh;
    box-sizing: border-box;
    padding: 0.5rem 10rem;
    z-index: 1;
    
}

#nav-bar .nav-link{
    color: var(--txt-color);
    text-decoration: none;
    font-size: 1.5rem;
}

/* --------------------- MAIN---------------------- */

.inicial{
    max-width: 100vw;
    min-height: 80vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.9)),
        url(./extras/cadeira-barbearia.jpg);
    background-size: cover;
    background-position: 0% 70%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inicial button{
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--txt-color);
    background: none;
    border: 1px solid var(--pormenor-color);
    border-radius: 5px;
    cursor: pointer;
}

#section-servicos{
    text-align: center;
    margin: 1.5rem 0;
}

.servicos-container{
    min-height: 60vh;
    margin: 0.5rem;
    padding: 1rem 10rem;
    display: flex;
    justify-content: space-between;
}

.servico{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.icones-servico{
    max-width: 20%;
}

.servico p{
    flex-grow: 1;
}

.servicos-container > .servico:not(:first-child):not(:last-child){
    border-left: var(--txt-color) 1px solid;
    border-right: var(--txt-color) 1px solid;
}

.img-exemplos{
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid var(--pormenor-color);
}

#section-vibe{
    text-align: center;
    max-width: 100vw;
    margin: 5rem 10vw;
}

#video{
    max-width: 100%;
    margin: 1.5rem 0;
    border: 2px solid var(--pormenor-color);
    border-radius: 20px;
}

#section-precos{
    text-align: center;
    max-width: 100vw;
    margin: 2rem 5vw;
}

.precos-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produto-preco{
    border: 1px solid var(--pormenor-color);
    border-radius: 5px;
    background-color: #1b1a1a;
    margin: 1rem 1.5rem;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-basis: 25%;
}


/* --------------------- FOOTER---------------------- */

footer{
    background-color: #646161;
    text-align: center;
}

footer > p{
    padding: 1rem;
}

footer #form{
    background-color: var(--pormenor-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#form *{
    margin: 0.5rem;
}

#form label{
    font-size: 2rem;
}

input[type="email"]{
    padding: 0.7rem;
    font-size: 0.8rem;
    width: 20%;
}

input[type="submit"]{
    padding: 0.4rem 3rem;
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* -------------------- PSEUDO-CLASSES ----------------- */

#nav-bar a:hover{
    color: var(--pormenor-color);
}

#nav-img:hover{
    transform: scale(1.1);
}

.inicial button:hover, .produto-preco:hover{
    background-color: var(--hover-pormenor-color);
}



.inicial button, .produto-preco, .img-exemplos, #video{
    transition: all 0.3s;
}

.inicial button:hover, .produto-preco:hover, .img-exemplos:hover, #video:hover{
    box-shadow: 0px 0px 20px 1px var(--pormenor-color);
    transform: translateY(-5px);
    transform: scale(1.05);
}

input[type="submit"]:hover{
    color: #646161;
}